<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Jonathan Rivera Vasquez">
    <meta name="description"
        content="I am a software engineer interested in performing tasks in the area of front-end and back-end development, as well as IT. Looking for opportunities as a Jr. Developer"">
    <meta name=" keywords" content="software engineer front-end development back-end development Jr. Developer">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../public/assets/favicon//ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Jonathan Rivera - Software Engineer | Portfolio</title>
    <link rel="apple-touch-icon" sizes="57x57" href="../public/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/assets/favicon//apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/assets/favicon//apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../public/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../public/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/assets/favicon/favicon-16x16.png">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/portfolio.css">
</head>

<body>
    <header>
        <nav id="nav-mobile-tablet">
            <div class="container">
                <ul>
                    <li><a href="#Projects"><i class="fa-solid fa-briefcase"></i></a></li>
                    <li><a href="#About"><i class="fa-solid fa-address-card"></i></a></li>
                    <li><a href="#Home"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="#Skills"><i class="fa-solid fa-screwdriver-wrench"></i></a></li>
                    <li><a href="#Contact"><i class="fa-solid fa-message"></i></a></li>
                </ul>
            </div>
        </nav>
        <nav id="nav-desktop">
            <a href="#Home">
                <img src="../public/assets/image/nav-second.png" alt="Go Home">
            </a>
            <div class="container">
                <ul>
                    <li><a href="#About" class="nav-link">ABOUT</a></li>
                    <li><a href="#Skills" class="nav-link">SKILLS</a></li>
                    <li><a href="#Projects" class="nav-link">PROJECTS</a></li>
                    <li><a href="#Contact" class="nav-link">CONTACT</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section id="Home">
            <div id="home-header">
                <h1 data-aos="fade-down">
                    Jonathan Rivera
                    <span id="frontend" class="show">Front End</span>
                    <span id="backend" class="hide">Back End</span>
                    <span id="software" class="hide">Software</span>
                    Developer
                </h1>
            </div>
            <div id="home-container-img-setup">
                <img src="../public/assets/image/setup.png" alt="Setup Gamer" class="img-fluid">
            </div>
            <div id="home-container-social">
                <ul>
                    <li data-aos="zoom-in"><a href="https://www.linkedin.com/in/jriveraaa/" class="home-social-media"
                            target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li data-aos="zoom-in"><a href="https://github.com/riveraaj/" class="home-social-media"
                            target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a></li>
                    <li data-aos="zoom-in"><a href="https://www.instagram.com/__riveraa.j/" class="home-social-media"
                            target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </section>
        <section id="About">
            <div id="about-header">
                <img src="../public/assets/image/overview.png" alt="Me closing an eye" class="img-fluid">
                <h2>OVERVIEW</h2>
                <hr>
            </div>
            <div id="about-container-data">
                <p>
                    I'm a
                    <strong>Software Engineer</strong> interested in performing tasks in the area of
                    <b>Front-End, Back-End, IT</b>
                    as a
                    <strong>Jr.developer</strong>.
                </p>
                <h3>Some Data</h3>
                <hr>
                <ul>
                    <li>I live in <strong>Costa Rica</strong></li>
                    <li>I'm <strong>20</strong> years old</li>
                    <li>I studied at the <strong>Universidad Internacional de las Americas</strong></li>
                    <li>Participated in the <strong>Oracle One Program</strong></li>
                </ul>
                <p id="about-p-bottom">
                    I have carried out several projects, both commercial and my own, most of which are in my
                    <strong><a href="https://github.com/riveraaj" target="_blank"
                            rel="noopener noreferrer"><u>Github</u></a></strong>
                </p>
            </div>
        </section>
        <section id="Skills">
            <div id="skills-header">
                <h2>SKILLS</h2>
                <hr>
            </div>
            <div id="skills-container-general">
                <div class="skills-general" data-aos="fade-left">
                    <h3>Frontend</h3>
                    <p>Front-end development is the process of designing and developing the user interface of a website
                        or web application.</p>
                    <ul class="grid-skills">
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            HTML5</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">CSS
                        </li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            JavaScript</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Bootstrap</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            JQuery</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            React</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Google Cloud</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Figma</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Canva</li>
                    </ul>
                </div>
                <div class="skills-general" data-aos="fade-left">
                    <h3>Backend</h3>
                    <p>Back-end development is the process of designing and developing the server side of a web
                        application or website.</p>
                    <ul class="grid-skills">
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">JAVA
                        </li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Python</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">PHP
                        </li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">C#
                        </li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Codeigniter</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">C#
                        </li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Entity Framework</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            ASP.NET</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Spring Boot</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Hibernet</li>
                    </ul>
                </div>
                <div class="skills-general" data-aos="fade-left">
                    <h3>Mobile</h3>
                    <p>Mobile development is the process of designing and developing mobile applications for mobile
                        devices, such as smartphones and tablets.</p>
                    <ul class="grid-skills">
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Android Studio</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Gradle</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Kotlin</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Firebase</li>
                    </ul>
                </div>
                <div class="skills-general" data-aos="fade-left">
                    <h3>Database</h3>
                    <p>The database is a fundamental component in the development of web and mobile applications, since
                        it is in charge of storing and organizing the information used in the application.</p>
                    <ul class="grid-skills">
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            SQLServer</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            MYSQL</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Oracle</li>
                        <li class="skill" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                            Cloud Firestore</li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="Projects">
            <div id="projects-header">
                <h2>PROJECTS</h2>
                <hr>
                <nav id="nav-projects">
                    <ul>
                        <li id="all" class="active">ALL</li>
                        <li id="web">WEB</li>
                        <li id="desktop">DESKTOP</li>
                        <li id="mobile">MOBILE</li>
                    </ul>
                </nav>
            </div>
            <ul id="grid-projects">
                <li class="project hidden web" >
                    <img class="rounded img-fluid" src="../public/assets/image/veterinary.png" alt="Veterinary Project">
                    <div class="project-data">
                        <h3>Veterinary Webpage</h3>
                        <p>HTML5 / CSS / JavaScript / Bootstrap / JQuery / PHP / MYSQL</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#veterinaryModal"><i
                                class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="modal fade" id="veterinaryModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="card">
                                    <img src="../public/assets/image/veterinary.png" alt="Veterinary Project"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Veterinary Webpage</h5>
                                        <p class="card-text">This is a project with the theme of a veterinarian in which
                                            all the information related to the filing process and dynamic information
                                            queries are managed. This project has a public part and an administrative
                                            part. In this you can find the correct use of HTML tags and CSS rules, Use
                                            of Bootstrap, JQuery framework, PHP for session management, database (CRUD),
                                            sending emails and generating PDF files.</p>
                                        <div class="button-modal-card">
                                            <a href="https://github.com/riveraaj/Oh_My_Cat" target="_blank"
                                                rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                                            <button type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                                    class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="project  bottom-project hidden web" >
                    <img class="rounded img-fluid" src="../public/assets/image/auth-app.png"
                        alt="Authentication Webpage Project">
                    <div class="project-data">
                        <h3>Authentication Webpage</h3>
                        <p>HTML5 / CSS / JavaScript / Bootstrap / C# / .NET / MVC / Entity Framework / ASP.NET /
                            SQLServer</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#authenticationModal"><i
                                class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="modal fade" id="authenticationModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="card">
                                    <img src="../public/assets/image/auth-app.png" alt="Authentication Webpage Project"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Authentication Webpage</h5>
                                        <p class="card-text">This is a project of an application with authentication,
                                            both manually and through some services like Google, Facebook, GitHub and
                                            Twitter.</p>
                                        <div class="button-modal-card">
                                            <a href="https://github.com/riveraaj/Authentication-App" target="_blank"
                                                rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                                            <button type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                                    class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="project bottom-project hidden web">
                    <img class="rounded img-fluid" src="../public/assets/image/search.png" alt="Search Engine Project">
                    <div class="project-data">
                        <h3>Search Engine</h3>
                        <p>HTML5 / CSS / JAVA / Spring Boot / MYSQL</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#SearchEngineModal"><i
                                class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="modal fade" id="SearchEngineModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="card">
                                    <img src="../public/assets/image/search.png" alt="Search Engine Project"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Search Engine</h5>
                                        <p class="card-text">This is a project that simulates the google search engine
                                            on a smaller scale. It has: Routine, search and SpiderIndex services
                                            Database repositories Among others, such as controllers and part of the
                                            front-end (google search clone)</p>
                                        <div class="button-modal-card">
                                            <a href="https://github.com/riveraaj/Search-Engine" target="_blank"
                                                rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                                            <button type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                                    class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="project bottom-project hidden web">
                    <img class="rounded img-fluid" src="../public/assets/image/encryptor.png"
                        alt="Text Encryptor Project">
                    <div class="project-data">
                        <h3>Text Encryptor</h3>
                        <p>HTML5 / CSS / JavaScript</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#textEncryptorModal"><i
                                class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="modal fade" id="textEncryptorModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="card">
                                    <img src="../public/assets/image/encryptor.png" alt="Text Encryptor Project"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Text Encryptor</h5>
                                        <p class="card-text">This is the first Challenge of the ONE - Oracle Next
                                            Education program. This application has the function of encrypting and
                                            decoding text messages in a simple way. With the aim of exchanging
                                            information with other people in a safe and fun way.</p>
                                        <div class="button-modal-card">
                                            <a href="https://github.com/riveraaj/Text-Encryptor" target="_blank"
                                                rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                                            <button type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                                    class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="project bottom-project hidden desktop">
                    <img class="rounded img-fluid" src="../public/assets/image/calculator.png" alt="Calculator Project">
                    <div class="project-data">
                        <h3>Calculator App</h3>
                        <p>JAVA</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#calculatorModal"><i
                                class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="modal fade" id="calculatorModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="card">
                                    <img src="../public/assets/image/calculator.png" alt="Calculator Project"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Calculator App</h5>
                                        <p class="card-text">This is a project that uses dynamic memory allocation, the
                                            development of recursive algorithms, and the use of lists and stacks as
                                            tools for designing, and solving problems of software.</p>
                                        <div class="button-modal-card">
                                            <a href="https://github.com/riveraaj/Oh_My_Cat" target="_blank"
                                                rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                                            <button type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                                    class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="project bottom-project hidden mobile">
                    <img class="rounded img-fluid" src="../public/assets/image/mobile-app.png"
                        alt="Theater Box Office Project">
                    <div class="project-data">
                        <h3>Theater Box Office App</h3>
                        <p>Android Studio / Gradle / Kotlin / XML / Firebase / Cloud Firestore</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#teatherAppModal"><i
                                class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="modal fade" id="teatherAppModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="card">
                                    <img src="../public/assets/image/mobile-app.png" alt="Theater Box Office Project"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Theater Box Office App</h5>
                                        <p class="card-text">Solution for the purchase of tickets and admission to the
                                            event of several theaters, through a events calendar, capacity and ticket.
                                        </p>
                                        <div class="button-modal-card">
                                            <a href="https://github.com/riveraaj/TicketAJJAM" target="_blank"
                                                rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                                            <button type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                                    class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="project bottom-project hidden desktop">
                    <img class="rounded img-fluid" src="../public/assets/image/batch-handler.png"
                        alt="Batch Handler Project">
                    <div class="project-data">
                        <h3>Batch Handler</h3>
                        <p>Python</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#batchHandlerModal"><i
                                class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="modal fade" id="batchHandlerModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="card">
                                    <img src="../public/assets/image/batch-handler.png" alt="Batch Handler Project"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Batch Handler</h5>
                                        <p class="card-text">This is a project made in console to manage batches of
                                            files through previous configuration that allows us to copy and move files
                                            in batches and delete files depending on the type of user configuration, in
                                            turn it has a log and deletion of the configuration of the registered lots.
                                        </p>
                                        <div class="button-modal-card">
                                            <a href="https://github.com/riveraaj/Batch-handling" target="_blank"
                                                rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                                            <button type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                                    class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="project hidden desktop">
                    <img class="rounded img-fluid" src="../public/assets/image/inventory.png" alt="Inventory Project">
                    <div class="project-data">
                        <h3>Inventory</h3>
                        <p>JAVA / SQLServer</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#inventoryModal"><i
                                class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="modal fade" id="inventoryModal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="card">
                                    <img src="../public/assets/image/inventory.png" alt="Inventory Project"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Inventory</h5>
                                        <p class="card-text">This is an article inventory management project which works
                                            with the SQL Server database, has a Login, inventory registration, inventory
                                            allocation to three different warehouses and, in turn, has a user manual.
                                        </p>
                                        <div class="button-modal-card">
                                            <a href="https://github.com/riveraaj/Inventory" target="_blank"
                                                rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
                                            <button type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                                    class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <section id="Contact">
            <div id="contact-header">
                <img src="../public/assets/image/contact.png" alt="Me in a computer" class="rounded img-fluid">
                <h2>CONTACT ME</h2>
                <hr>
            </div>
            <div id="contact-info">
                <p>Have a question or want to work together?</p>
                <ul id="contact-info-contacts">
                    <li class="contact">jonathandavidr7@gmail.com</li>
                    <li class="contact">https://www.linkedin.com/in/jriveraaa/</li>
                </ul>
            </div>
            <div id="stop-nav"></div>
            <div id="toUp">
                <a href="#Home"><i class="fa-solid fa-arrow-up"></i></a>
            </div>
        </section>
    </main>
    <footer id="footer">
        <small>JONATHAN RIVERA <span>©2023</span></small>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script>
    <script src="https://kit.fontawesome.com/16aeb5d585.js" crossorigin="anonymous"></script>
    <script src="../public/js/letter.js"></script>
    <script src="../public/js/nav-desktop.js"></script>
    <script src="../public/js/nav-mobile-tablet.js"></script>
    <script src="../public/js/nav-projects.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>
